<html>
<head>
  <meta charset="UTF-8">
  <title>Javascript for Campaign Ads Project</title>

<script type="text/javascript">
function displayInformation () {
//  var body = document.querySelector('body')
  document.body.style.background = "#ffff99";
  document.body.style.color = "#000066";
  // One place to find color option codes: https://www.w3schools.com/colors/colors_picker.asp

}
</script>

<style>
div.a {
  text-align: center;
}

input[name = Name], select, textarea {
  width: 15%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=submit] {
  background-color: #000066;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}


</style>

</head>

<body onload = "displayInformation();">
<div class = "a">
  <h1>
    Hello and Welcome to the Campaign Advertising Project!
  </h1>
</div>

<p>
  Click the button on the bottom of the page to start transcribing ads.
</p>

<form action = "http://localhost:5000/campaign_ad/input" method = "POST">
  <input type="submit" value="Input Ads">

</form>

</body>

</html>
