<html>

<body>

  <h1>
    Hours Tracking
  </h1>

<p>
  Fill out the relevant information below about the work that you've done. Please keep careful track of your hours and how many ads you've coded in that time. Also feel free to use this space to ask me any questions you might have about ads that were difficult!<br>
</p>

<form action = "http://localhost:5000/user_info/submit" method = "POST">
  <b>Name: </b> <br>
  <textarea rows="1" cols="50" name = "Name">
</textarea><br>

<b>Hours Worked: </b> <br>
<textarea rows="1" cols="50" name = "Hours">
</textarea><br><br>

<b>Ads Transcribed: </b> <br>
<textarea rows="1" cols="50" name = "Ads">
</textarea><br><br>

<b>Questions Remaining: </b> <br>
<textarea rows="8" cols="50" name = "Questions">
</textarea><br><br>

  <input type="submit" value="Submit">
</form>

</body>

</html>
